<% if object.errors.any? %>
	<div class="alert">
		<a class="close"></a>
		<strong> Please try again: </strong>
		<ul>
		<% object.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>