<div class="container-fluid">
	<div class= "row-fluid" >
		<div class = "span4">
			</br>
		</div>
		<div class = "span4">
			</br>
			<div class="page header">
				<h2>About</h2>
				<p>Scratchboard is developed by Neil Kamireddy (<a href="http://www.twitter.com/neilkam/">@neilkam</a>). He's learning software development by building.</p>
			</br>
		</div>
		<div class = "span4">
		</div>
	</div>
</div>