<div class="container">
	</br>
	</br>
	<div class = "span3">
		&nbsp;
	</div>
	<div class = "span6">		
		<div class = "well">
			<div align = "center">		
				<h3>About</h3></br>
				Scratchboard is developed by Neil Kamireddy (<a href="http://www.twitter.com/neilkam/" target= "_blank">@neilkam</a>). It came to exist over a few weekends as a way for Neil to teach himself software development.
			</div>
		</div>
	</div>
	<div class = "span3">
		&nbsp;
	</div>
</div>