</br>
<div class = "hero-unit">
	<h1>Ideation meets agile.</h1>
	<p>Scratchboard helps developers, designers, and product managers collaborate to generate product ideas and requirements.</p>
	<p>
		<%= link_to "Get started", getstarted_path, :class => "btn btn-success btn-large" %> 
	</p>
</div>