<!DOCTYPE html>
<html>
<div class = "container-fluid">
	</br>
	</br>
	<div class= "row-fluid" >
		<div class = "span4">
			&nbsp;
		</div>
	  	<div class = "span4">
			<div class = "well">
				<div align = "center">
      			<%= render 'shared/project_form' %>
				</div>
			</div>
	  	</div>
      	<div class = "span4">
			<%= render 'shared/error_messages', object: @project %>
      	</div>
  	</div>
</div>
</html>