<!DOCTYPE html>
<html lang="en">
<footer>
<div class="container">
	<div class = "row">
		<div class = "span5">
			&nbsp;
		</div>
		<div class = "span1">
			<div align = "right">
				</br>
				</br>
				</br>
				</br>
				<%= link_to logo_small, root_path %>
				</br>
				</br>
				</br>
				</br>
			</div>
		</div>
	</div>
</div>
</footer>
</html>
