<header> 
	</br>
	<%= link_to logo, root_path %>
	<ul class="nav nav-pills pull-right">
	</br>
			<% if signed_in? %>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Log out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Log in", signin_path %></li>
			<% end %>
		</ul>
</header>